---
- hosts: all
  become: true
  vars_files:
    - vars/default.yml

  tasks:
    - name: Set up Apache virtualhost
      template:
        src: "config_files/apache.conf.j2"
        dest: "/etc/apache2/sites-available/{{ http_conf }}"
        
    - name: Set up Apache virtualhost ports
      template:
        src: "config_files/ports.conf.j2"
        dest: "/etc/apache2/ports.conf"      
    
    - name: Enable new site
      shell: /usr/sbin/a2ensite {{ http_conf }}
      notify: Reload Apache

    - name: Disable default Apache site
      shell: /usr/sbin/a2dissite 000-default.conf
      when: disable_default
      notify: Reload Apache

  handlers:
    - name: Reload Apache
      service:
        name: apache2
        state: reloaded

    - name: Restart Apache
      service:
        name: apache2
        state: restarted
