<VirtualHost *:{{ http_port1 }}>

     ServerAdmin webmaster@localhost
        DocumentRoot /var/www/{{ http_host1 }}
        PassengerAppRoot /var/www/{{ http_host1 }}

         PassengerAppType node
         PassengerStartupFile server.js
</VirtualHost>

<VirtualHost *:{{ http_port2 }}>
     ServerAdmin webmaster@localhost
        DocumentRoot /var/www/{{ http_host2 }}
        PassengerAppRoot  /var/www/{{ http_host2 }}

         PassengerAppType node
         PassengerStartupFile server.js
</VirtualHost>

<VirtualHost *:{{ http_port3 }}>
     ServerAdmin webmaster@localhost
        DocumentRoot /var/www/{{ http_host3 }}
        PassengerAppRoot  /var/www/{{ http_host3 }}

         PassengerAppType node
         PassengerStartupFile server.js
</VirtualHost> 
